node_modules/
dist/
build/
vendor/
.env
*.zip
*.log
mssql
*.php
*.sql
*.jpeg
*.jpg
*.pdf
*.png
*.node_modules
*.md
*.txt
*.json
*.data
*.pdf
*.pma
*.db
uploads/
api_chohan/uploads/
api_chohan/.wwebjs_auth/
api_chohan/.wwebjs_cache/
*.lock