:host {
    display: block;
    width: 100%;
}

::ng-deep {
    .p-dropdown {
        background: #f8fafc;
        border-color: #f1f5f9;
        
        &:not(.p-disabled).p-focus {
            border-color: #fb7185;
            box-shadow: 0 0 0 3px rgba(251, 113, 133, 0.1);
        }
    }

    .p-datepicker {
        border-radius: 16px;
        box-shadow: 0 10px 40px rgba(0,0,0,0.1);
    }
}
